*{
    margin: 0;
    padding: 0;
}

img {
    view-timeline-name: --image ;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 50%;

    animation-fill-mode: both;
  }